body {
    background-color: #d5d6d7 !important;
}

nav .title{
    border-right: 1px solid #c9c9c9;
    font-size: 22px;
    font-weight: bold;
    margin-top: -6px;
    
    background: -webkit-linear-gradient(90deg,#01cfd2,#ef07f3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    transition: .2s;

    
}

@media(max-width:992px) {
    nav{
        height: auto !important;
        opacity: 1 !important;
    }
    nav .title{
        border: none !important;
        font-size: 22px;
        font-weight: bold;
        margin-top: -6px;
        
        background: -webkit-linear-gradient(90deg,#01cfd2,#ef07f3);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    
        transition: .2s; 
    }
}

nav .title:hover {
    text-shadow: 0 0 25px #1f164e;
}

nav .trips {
    margin-top: 5px;
}

nav .hov {
    transition: .2s;
}

nav .hov:hover{
    transform: scale(1.2,1.2);
    text-shadow: 0 0 12px #01cfd2;
}

nav .hov2 {
    transition: .2s;
}

nav .hov2:hover{
    transform: scale(1.1,1.1);
    text-shadow: 0 0 12px #01cfd2;
}



nav .btnhov:hover{
    opacity: 0.7;
}

nav .clc:hover {
    color: #ffff;
}

nav .ch {
    font-weight: bold;
}

.icons i {
    font-size: 50px;
    color: #1f164e;
    padding: 10px 0;

    transition: .2s;
}

.icons i:hover {
    opacity: 0.7;
}

.welcome {
    background-color: rgb(158, 217, 219);
}

.welcome .content {
    width: 90%;
    margin: auto;
}

.section1 .title1 {
    background: -webkit-linear-gradient(90deg,#01cfd2,#ef07f3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-size: 25px;
    font-weight: bold;
}

.section1 .accBtn {
    background: -webkit-linear-gradient(bottom,#e5e5e5,#ffffff);
}

.translate .press {
    text-decoration: none;
    color: #1f164e;
}

.translate .press:hover {
    opacity: 0.6;
}

.section3 .cards .cardoverlay {
    position: relative;
}

.section3 .cards .cardoverlay::before {
    position: absolute;
    content: "";

    width: 0;
    height: 0;

    top: 0;
    left: 0;

    background-color: rgba(32, 22, 80, 0.2);
    transition: 1s;
    border-radius: 3.5px;
}

.section3 .cards .cardoverlay:hover::before {
    width: 100%;
    height: 100%;
}

.section3 .cards .cardoverlay::after {
    position: absolute;
    content: "";

    width: 0;
    height: 0;

    bottom: 0;
    right: 0;

    background-color: rgba(32, 22, 80, 0.2);
    transition: 1s;
    border-radius: 6px;
}

.section3 .cards .cardoverlay:hover::after {
    width: 100%;
    height: 100%;
}

.section4 .cardhov img {
    border-radius: 10px;
    object-fit: cover;
    transition: .2s;
}

.section4 .cardhov {
    border-radius: 20px !important;
}

/* .section4 .cardhov:hover .imgdiv img{
    transform: scale(1.01, 1.01);
} */

@media(min-width:768px) {
    .section4 .img-right {
        -webkit-clip-path: polygon(25% 0%, 34% 100%, 100% 100%, 100% 0%);
    }

    .section4 .img-left {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 60% 100%, 70% 0%);
    }

    .section4 .crdbody {
        margin-left: -10% !important;
    }
}
@media (max-width:768px) {
    .section4 .img-right {
        -webkit-clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 100%);
    }
    
    .section4 .cardhov {
        width: 100% !important;
        margin: 20px auto !important;
    }

    .section4 img {
        height: 200px !important;
        width: 100% !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .section4 .imgdivright {
        order: 1 !important;
    }

    .section4 .crdtxt {
        width: 100% !important;
    }
}

.section4 .line {
    width: 50px;
    height: 5px;
    border-radius: 7px;

    transition: .2s;
}

.section4 .cardhov:hover .line {
    width: 100px;
}

.section4 .cardhov h3:hover {
    opacity: 0.7;
}

.section4 .cardhov .bdg1 {
    transition: .5s;
}

.section4 .cardhov .bdg1:hover {
    background-color: #484848 !important;
    color: #ffff !important;
}

.section4 .cardhov .bdg2 {
    transition: .5s;
}

.section4 .cardhov .bdg2:hover {
    background-color: rgb(200, 0, 0)!important;
    color: #ffff !important;
}

.section4 .logoicon {
    transform: scale(0.8,0.8);
    transition: .5s;
}

.section4 .logoicon:hover {
    opacity: 0.7;
}

@media (min-width:768px){
    footer .ftrbody {
        width: 32%;
    }
}

footer .imgftr {
    box-shadow: 0px 0px 20px 10px #d2d1d1;

    transition: 0.5s;
}

footer .imgftr:hover {
    opacity: 0.7;
}

footer .ftrbody a:hover {
    color: #ffffff !important;
}